.scrolling-carousel {
  overflow-x: auto;
  white-space: nowrap;
  position: relative;
  scroll-behavior: smooth;
  max-width: 1032px;
  height: 460px;
  margin-bottom: 0;
  padding-bottom: 0;
  overflow-y: hidden;
}

.scrolling-carousel h3 {
  max-width: 238px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: auto;
}

.carousel-items {
  display: flex;
}

.carousel-item {
  flex: 0 0 auto;
  padding: 12.5px;
  border-radius: 10px;
  background-color: #373737;
  width: 100%;
  height: auto;
  color: #e4b036;
  cursor: pointer;
  max-width: 249px;
  height: 440px;
  white-space: normal;
  cursor: pointer;
}

.carousel-item:hover {
  background-color: #565656;
  color: white;
}

.carousel-item img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  display: block;
  margin: auto;
  object-fit: cover;
  border: transparent 5px solid;
  border-radius: 15px;
  filter: sepia(80%);
}

.carousel-item:hover img {
  filter: grayscale(0%);
}

.nav-button {
  position: absolute;
  top: 48%;
  transform: translateY(-50%);
  background-color: #333;
  color: #e4b036;
  border: none;
  padding: 20px 10px;
  cursor: pointer;
  opacity: 0.7;
  z-index: 2;
  font-size: 24px;
  cursor: pointer;
}

.nav-button:hover {
  opacity: 1;
  color: white;
}

.nav-button.prev {
  left: 9px;
}

.nav-button.next {
  right: 17px;
}