html, body {
    margin: 0;
    height: 100%;
    position: relative;
}

.moviecontainer {
    text-align: center;
    background-color: rgb(123, 76, 123);
    color: white;
    width: 500px;
    height: 800px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}