/* ShowMovie.css */

.movieInfo {
    text-align: left;
    color: #d8d8d8;
    margin-left: 20px;
}

.container {
    background-color: #373737;
    margin-top: 100px;
    width: 650px;
}

.movieInfo button {
    margin-left: 0;
}

.movieInfo h1 {
    color: #e4b036;
}

.movieInfo img {
    margin-left: -5px;
    border: transparent 5px solid;
    border-radius: 25px;
}

.star {
    color: #ffc107;
}

input[type=radio] {
    display: none;
}

#backButton {
    margin: 0;
    padding: 8px;
    color: #ffc107;
    background-color: transparent;
    font-size: 15px;
    border: none;
}