/* ShowMovie.css */

  

.movieInfo{
    text-align: left;
    color: #d8d8d8;
    margin-left: 20px;
}

.container {
    background-color: #373737;
}

.movieInfo button {
    margin-left: 0;
}

.movieInfo h1 {
    color: #e4b036;
}

.movieInfo img {
    margin-left: -5px;
    border: transparent 5px solid;
    border-radius: 25px;
}

.star {
    color: #ffc107; /* Farge på stjernene når de er valgt */
  }

  input[type = radio]{
    display: none;
  }