.scrollingContainer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    justify-content: center;
}

.scrollingContainer h3 {
    max-width: 238px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.box {
    margin: 0px 0;
    padding: 12.5px;
    border-radius: 10px;
    background-color: #373737;
    width: 238px;
    height: 420px;
    color: #e4b036;
    cursor: pointer;
    white-space: normal;
}

.box:hover {
    background-color: #565656;
    color: white;
}

.box:hover img {
    filter: grayscale(0%);
}

.box img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    display: block;
    margin: auto;
    object-fit: cover;
    border: transparent 5px solid;
    border-radius: 15px;
    filter: sepia(80%);
}