.scrollingContainer {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.scrollingContainer h3 {
    max-width: 238px;
    overflow: hidden;
    white-space: nowrap; /* Prevent text from wrapping */
    text-overflow: ellipsis;
}

.box {
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 12.5px;
    border-radius: 10px;
    background-color: #373737;
    width: 238px;
    height: 480px;
    color: #e4b036;
    cursor: pointer;
    white-space: normal;
    flex: 0 0 auto;
}

.box:hover {
    background-color: #565656;
    color: white;
}

.box:hover img {
    filter: grayscale(0%);
}

.box img {
    max-width: 100%; 
    max-height: 100%; 
    height: auto;     
    display: block;   
    margin: auto;     
    object-fit: cover; 
    margin-left: -5px;
    border: transparent 5px solid;
    border-radius: 15px;
    filter: sepia(80%);
}
