html,
body {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    background-color: white;
}

.scrollingPageContainer {
    text-align: center;
    background-color: rgb(37, 34, 34);
    color: white;
}

.scrollingContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box {
    margin: 7px;
    padding: 12.5px;
    border-radius: 10px;
    background-color: rgb(180, 176, 176);
    width: 238px;
    height: 140px;
    color: black;
    cursor: pointer;

    white-space: normal;
    flex: 0 0 auto;
}