.header {
    text-align: center;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    color: #fff;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 30px;
    background-color: rgb(242, 224, 196);
    border-radius: 25px;
    text-align: center;
}

.button {
    background-color: blue;
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    align-items: right;
    margin: 5px;
}

.inputField {
    margin: 5px;
}

.labelText {
    text-indent: 10px;
    color: #fff;
    text-align: center;
    margin-left: 20px;
}